.add-services-container .add-services-container-inner {
    background: #fff;
    box-shadow: 0rem .5rem 1rem rgba(0, 0, 0, .2);
    width: 40%;
    padding: 1rem;
    margin: 14rem auto;
}

.add-services-container .add-services-container-inner h1{
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.add-services-container .add-services-container-inner form{
    display: flex;
    flex-direction: column;
}

.add-services-container .add-services-container-inner form input{
    border: .1rem solid hsl(0, 3%, 81%);
    border-radius: .5rem;
    padding: .9rem;
    margin: 1rem 0rem;
}

.add-services-container .add-services-container-inner form textarea{
    border: .1rem solid hsl(0, 3%, 81%);
    border-radius: .5rem;
    padding: .9rem;
    margin: 1rem 0rem;
}

.add-services-container .add-services-container-inner form button{
    color: #fff;
    background: hsl(197, 93%, 41%);
    padding: 1rem 1.5rem;
    cursor: pointer;
    border-radius: 3rem;
    font-size: 1.1rem;
}

.add-services-container .add-services-container-inner form button:hover{
    color: #333;
    background: #fff;
    border: .1rem solid hsl(197, 94%, 44%);
}