.change-password-container .change-password-inner form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    box-shadow: 0rem .5rem 1rem  rgba(0, 0, 0, .2);
    margin: 10rem auto;
    width: 50%;
    padding: 1.2rem;
}

.pass-heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.change-password-container .change-password-inner form input{
    border: .1rem solid hsl(0, 0%, 90%);
    padding: .9rem;
    margin: 1rem 0rem;
}

.change-password-container .change-password-inner form button{
    color: #fff;
    background: hsl(197, 91%, 47%);
    padding: 1rem 1.5rem;
    border-radius: 3rem;
    cursor: pointer;
}

.change-password-container .change-password-inner form button:hover{
    background: none;
    border: .1rem solid hsl(197, 89%, 47%);
    color: #333;
}